<footer class="app-footer">
  <mat-toolbar color="primary">
    <div class="footer-container">
      <div class="footer-left">
        <span class="copyright">&copy; {{ currentYear }} Gestion d'Événements</span>
      </div>
      
      <div class="footer-center">
        <a routerLink="/" class="footer-link">Accueil</a>
        <a routerLink="/events" class="footer-link">Événements</a>
        <a routerLink="/about" class="footer-link">À propos</a>
        <a routerLink="/contact" class="footer-link">Contact</a>
      </div>
      
      <div class="footer-right">
        <div class="social-links">
          <a href="#" aria-label="Facebook"><mat-icon>facebook</mat-icon></a>
          <a href="#" aria-label="Twitter"><mat-icon>twitter</mat-icon></a>
          <a href="#" aria-label="Instagram"><mat-icon>instagram</mat-icon></a>
          <a href="#" aria-label="LinkedIn"><mat-icon>linkedin</mat-icon></a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
